{% extends "base.html" %}

{% block title %}
Take Assignment {{ assignment_data.id }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/accounts.css') }}">

{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename = 'js/assignments.js') }}"></script>

<div class="content">
	<div class="test-list">
	  <div class="test">
		<form action="">
			<h3>{{ assignment_data.title }}</h3>

			{% for q in questions %}
				<div class="question">
					<input type="hidden" name="question_id_{{ q.id }}" value="{{ q.id }}">
					<p>Question: {{ q.question }}</p>
					<input type="text" name="answer_{{ q.id }}" class="answer">
				</div>
			{% endfor %}
		  <input type="button" onclick="submitAssignment(event, {{ assignment_data.id }})" value="Submit Assignment">
		</form>
	  </div>
	</div>
  </div>
{% endblock %}
