{% extends "base.html" %}

{% block title %}
Create Assignment
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename = 'js/assignments.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/input.js') }}"></script>

<div class="page_body">
	<form id="question_create_form" action="" class="flex_column">
		<input type="text" name="title" placeholder="Assignment Name">
		<input type="number" name="points" placeholder="Points" min="1" step="1" required onkeypress="return handleNegative()">

		<input type="button" value="+" id="question_create_button" onclick="createQuestion()">

		<input type="submit" onclick="createAssignment(event)">
	</form>
</div>
{% endblock %}
